<div class="p-10 bg-white border rounded">

<%= form_with(model: job, local: true, multipart: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-wrap items-center justify-between input-group">
    <div>
      <%= form.label :company_logo, class: "label" %>
      <%= form.file_field :company_logo %>
    </div>
    <% if form.object.company_logo.attached? %>
      <%= image_tag form.object.company_logo, class: "w-24 h-auto" %>
    <% end %>
  </div>

  <div>
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input" %>
  </div>

  <div class="grid grid-cols-1 lg:gap-6 lg:grid-cols-2 input-group">
    <div class="lg:col-span-1">
      <%= form.label :link_to_apply, class: "label" %>
      <%= form.text_field :link_to_apply, class: "input" %>
    </div>
    <div class="lg:col-span-1">
      <%= form.label :headquarters, class: "label" %>
      <%= form.text_field :headquarters, class: "input" %>
    </div>
  </div>

  <div class="input-group">
    <%= form.label :description, class: "label" %>
    <%= form.rich_text_area :description, class: "input trixEditorStyle" %>
  </div>

  <div class="grid grid-cols-1 lg:gap-6 lg:grid-cols-2 input-group">
    <div class="lg:col-span-1">
      <%= form.label :company_name, class: "label" %>
      <%= form.text_field :company_name, class: "input" %>
    </div>
    <div class="lg:col-span-1">
      <%= form.label :company_website, class: "label" %>
      <%= form.text_field :company_website, class: "input" %>
    </div>
  </div>

  <div class="input-group">
    <%= form.label :company_description, class: "label" %>
    <%= form.rich_text_area :company_description, class: "input trixEditorStyle" %>
  </div>
  
  <div class="flex items-center justify-start input-group">
      <div class="lg:w-1/3 pr-4">
        <%= form.label :compensation_type, class: "label" %>
        <div class="relative">
          <%= select_arrow %>
          <%= form.select :compensation_type, options_for_select(Job::COMPENSATION_TYPES, :selected => form.object.compensation_type), {}, {:class => "select"} %>
        </div>
      </div>

      <div class="px-4">
        <%= form.label :compensation_range, class: "label" %>
        <%= form.text_field :compensation_range, class: "input" %>
      </div>

      <div class="pl-4">
        <%= form.label :estimated_hours, class: "label" %>
        <%= form.text_field :estimated_hours, class: "input" %>
      </div>
  </div>



  <div class="input-group input-checkbox">
    <%= form.check_box :remote %>
    <%= form.label :remote, class: "label" %>
  </div>

    <div class="input-group lg:w-1/3 pr-4">
      <%= form.label :years_of_experience, class: "label" %>
      <div class="relative">
        <%= select_arrow %>
        <%= form.select :years_of_experience, options_for_select(Job::YEARS_OF_EXPERIENCE_RANGE, :selected => form.object.years_of_experience), {}, {:class => "select"} %>
      </div>
    </div>

  <div class="actions">
    <%= form.submit class: "btn btn-indigo"%>
  </div>
<% end %>

</div>

