
<div class="container mx-auto px-4 lg:px-24 lg:my-10">

  <% if @job.pending? %>
  <div class="w-full p-3 mb-6 text-white bg-blue-400 rounded">
    Pending review
  </div>
  <% end %>

  <div class="flex flex-wrap items-center justify-between border-b lg:border-0">
    <%= link_to root_path, class: "mb-4 inline-flex items-center justify-start" do %>
    <%= render_svg "icons/arrow_back_ios", styles: "stroke-current w-4 h-4 text-gray-600" %>
      <p class="text-sm text-gray-600">Back to all jobs </p>
    <% end %>
  </div>

  <div class="grid grid-cols-1 pt-6 lg:grid-cols-12">

    <div class="lg:col-span-8">
    
      <h1 class="lg:text-4xl leading-tight text-3xl font-black text-indigo-600 mb-4"><%= @job.title %></h1>

      <p class="pb-2 mb-2 leading-tight text-gray-700">
        <% if @job.compensation_type.downcase == "contract" %>
          <%= @job.estimated_hours %> hours
        <% else %>
          <%= number_to_currency(@job.compensation_range,:unit=>'PHP ') %>
          <%= @job.compensation_type %>
          <%= pluralize(@job.years_of_experience, 'year') %> of experience
        <% end %>
      </p>
      
      <div class="border-b pb-3 mb-3">
        <% if @job.company_logo.attached? %>
            <div class="float-left mr-2">
              <%= image_tag @job.company_logo.variant(resize_to_fit: [25, 25]), class: "flex-shrink-0" %>
            </div>
          <% end %>
          <div class="float-none">
            <%= link_to @job.company_name, @job.company_website, class: "text-base text-gray-600 hover:text-indigo-600" %>
          </div>
      </div>


      <h3 class="mb-2 text-xs font-bold tracking-wider text-gray-900 uppercase">About the role</h3>
      <div class="prose">
        <%= @job.description %>
      </div>

      <h3 class="mt-10 mb-2 text-xs font-bold tracking-wider text-gray-900 uppercase">About the company</h3>
      <div class="prose mb-6">
        <%= @job.company_description %>
      </div>
    
      <%= link_to "Apply for this role", @job.link_to_apply, class: "btn text-white bg-indigo-600 py-2 px-4 hover:bg-indigo-500 lg:mr-2 border border-indigo-500" %>

      <% if author_of(@job) || admin?%>
        <%= link_to 'Edit', edit_job_path(@job) %>
      <% end %>
      
    </div>

    <%# <div class="lg:col-span-4 text-center"> %>
      <%# <div class="p-4 sticky top-0 p-6 mt-6 text-gray-700 bg-white border border-black rounded-lg shadow-sm"> %>
        <%# if @job.company_logo.attached? %>
          <%# <div class="flex justify-center"> %>
            <%# <div class="w-16 h-16 my-3 text-center"> %>
             <%#= image_tag @job.company_logo.variant(resize_to_fit: [200, 200]), class: "flex-shrink-0" %>
            <%# </div> %>
          <%# </div> %>
        <%# end %>
        <%# <p> %>
        <%#= link_to @job.company_name, @job.company_website, class: "text-base text-gray-600 hover:text-indigo-600" %>
        <%# </p> %>
        <%# <p class="text-lg font-black text-gray-800 lg:px-4 leading-tight mb-2"> %>
        <%#= @job.title %>
        <%# </p> %>
        <%# <p class="pb-3 mb-3 leading-tight text-gray-700"> %>
            <%# if @job.compensation_type.downcase == "contract" %>
              <%#= @job.estimated_hours %> 
              <%# hours <br/> %>
            <%# else %>
              <%#= @job.compensation_type %>
              <%#= number_to_currency(@job.compensation_range,:unit=>'PHP ') %>
              <%#= pluralize(@job.years_of_experience, 'year') %> 
              <%# of experience %>
            <%# end %>
        <%# </p> %>
        <%#= link_to "Apply for this role", @job.link_to_apply, class: "btn text-white bg-indigo-600 py-2 px-4 hover:bg-indigo-500 lg:mr-2 border border-indigo-500" %>
      <%# </div> %>
    <%# </div> %>

  </div>
</div>